<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Gaming template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

	<div id="nav">
		<ul>
		<li><a href="http://www.freewebsitetemplates.com">home</a></li>
		<li><a href="http://www.freewebsitetemplates.com">reviews</a></li>
		<li><a href="http://www.freewebsitetemplates.com">gallery</a></li>
		<li><a href="http://www.freewebsitetemplates.com">community</a></li>
		<li class="lastchild"><a href="http://www.freewebsitetemplates.com">contact</a></li>
		</ul>
	</div><!-- end nav -->
	
	<h2 id="currenttitle"><img src="images/title_current_games.gif" width="224" height="28" alt="current games" /></h2>
	<div id="body">
	
		<div id="current">
			<a href="/"><img src="images/logo.jpg" width="235" height="396" alt="logo" /></a>
			<div class="nav">
			<ul>
			<li><a href="http://www.freewebsitetemplates.com">Golden Eye 007</a></li>
			<li><a href="http://www.freewebsitetemplates.com">Harry Potter &amp; the Chamber of Secret</a></li>
			<li><a href="http://www.freewebsitetemplates.com">Prince of Persia: Sands of Time</a></li>
			<li><a href="http://www.freewebsitetemplates.com">Resident Evil: Code Veronica X</a></li>
			<li><a href="http://www.freewebsitetemplates.com">The Legend of Zelda: Majora's Mask</a></li>
			<li><a href="http://www.freewebsitetemplates.com">Tomb Raider: The Lost Artifact</a></li>
			<li class="readmore"><a href="http://www.freewebsitetemplates.com">More Games</a></li>
			</ul>
			</div><!-- end .nav -->
		</div><!-- end current -->
		
		<div id="content">
			<h2><img src="images/title_video_games.gif" width="450" height="37" alt="best video games" /></h2>
			<div class="contentbox">
			<div class="box">
				<div class="imgbox"><img src="images/picture_1.jpg" width="110" height="107" alt="nintendo ds" class="right" /></div>
				<h3>nintendo ds</h3>
				<p>Don't forgot to check <a href="http://www.freewebsitetemplates.com">free website templates</a> every day, because we add at least one free website template daily.</p>
				<p class="readmore"><a href="http://www.freewebsitetemplates.com">more</a></p>
			</div>
			<div class="box">
				<div class="imgbox"><img src="images/picture_2.jpg" width="105" height="78" alt="controller" class="right" /></div>
				<h3>NYKO Air Flo XL controller</h3>
				<p>This is a template designed by free website templates for you for free you can replace all the text by your own 
				text. This is just a place holder so you can see how the site would look like.</p> 
				<p class="readmore"><a href="http://www.freewebsitetemplates.com">more</a></p>
			</div>
			</div><!-- end .contentbox -->
			<h2><img src="images/title_most_popular.gif" width="450" height="38" alt="most popular downloads" /></h2>
			<div class="contentbox">
			
			<img src="images/picture_3.jpg" width="85" height="71" alt="female with gun" class="left" />
			<h3>urban preditor</h3>
			<p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
			<p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
			<p class="readmore"><a href="http://www.freewebsitetemplates.com">Download now</a></p>
			
			<img src="images/picture_4.jpg" width="85" height="71" alt="female with dimond" class="left" />
			<h3>xtreme war session</h3>
			<p>To find great hosting providers visit <a href="http://www.webhostingzoom.com">Web Hosting Zoom</a></p>
			<p class="readmore"><a href="http://www.freewebsitetemplates.com">Download now</a></p>
			<br />
		</div><!-- end .contentbox -->
		</div><!-- end content -->
		<div class="clear"></div>
	</div><!-- end body -->
	
	<div id="footer" class="clear">
	<div id="copyright">&copy; copyright information goes here</div>
	</div><!-- end footer -->
	
</div><!-- end wrapper -->
</body>
</html>