<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />

<title>
Free Website Templates
</title>

<link rel="stylesheet" href="style.css" type="text/css" media="screen" />

</head>

<body>

<div id="body_wrapper">

	<div id="rightcolumn">

		<!-- Start Page Header -->

		<div id="page_header">

			<h1><span>Slave to the Game</span></h1>
			<h3><span>Online Gaming Community</span></h3>

		</div>

		<!-- End of Page Header -->


		<!-- Start of Main Navigation Menu -->

		<div id="mainnav">

			<ul>
			<li><a href="http://www.freewebsitetemplates.com/">News</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">Roster</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">About Us</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">Matches</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">Downloads</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">Servers</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">Sponsors</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">Links</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">Forum</a></li>
			<li><a href="http://www.freewebsitetemplates.com/">Members</a></li>
			</ul>

			<div class="clearthis">&nbsp;</div>

		</div>

		<!-- End of Main Navigation Menu -->


		<!-- Start of Center Column -->

		<div id="centercolumn">
		<div id="centercolumn_2">

			<!-- Start of News Box 1 -->

			<div class="newsbox">

				<div class="newsbox_header">

				<!-- News Title -->
				<h2>F.E.A.R update v1.2</h2>

				<!-- News Date -->
				<strong>10/31/2005</strong>

				<div class="clearthis">&nbsp;</div>

				</div>


				<div class="newsbox_content">

				<!-- News Text -->

				<p>
This is a template designed by <a href="http://www.freewebsitetemplates.com">free website templates</a> for you for free you can replace all the text by your own text. This is just a place holder so you can see how the site would look like.

				<br />
				<br />

If you're having problems editing the template Please don't hesitate to ask for help on <a href="http://www.freewebsitetemplates.com/forum/">the forum</a>. You will get help as soon as possible. You can also use the forum to tell us what you like or dislike and what you would like to see more.

				<br />
				<br />

Your feedback is very important to us and we will do everything to fulfill your wishes.


				<br />
				<br />

				<a href="http://www.freewebsitetemplates.com">More...</a>
				</p>

				</div>

			</div>

			<!-- End of News Box 1 -->



			<!-- Start of News Box 2 -->

			<div class="newsbox">

				<div class="newsbox_header">

				<!-- News Title -->
				<h2>Nvidia Forceware 81.87 Beta Released</h2>

				<!-- News Date -->
				<strong>10/27/2005</strong>

				<div class="clearthis">&nbsp;</div>

				</div>


				<div class="newsbox_content">

				<!-- News Text -->

				<p>
				Posted By: Drew
				</p>

				<p>
				Nvidia have released their latest "unofficial official" graphics drivers - the 81.87 Beta Forceware. The main difference between these and the recent 81.85 drivers is the addition of optimizations/compatibility fixes for <a href="http://www.freewebsitetemplates.com/">Call of Duty 2</a>.

				<br />
				<br />

http://www.nzone.com/object/nzone_downloads_winxp_2k_32bit_81.87.html
 				</p>

				</div>

			</div>

			<!-- End of News Box 2 -->



			<!-- Start of News Box 3 -->

			<div class="newsbox">

				<div class="newsbox_header">

				<!-- News Title -->
				<h2>Match Tonight</h2>

				<!-- News Date -->
				<strong>10/25/2005</strong>

				<div class="clearthis">&nbsp;</div>

				</div>


				<div class="newsbox_content">

				<!-- News Text -->

				<p>
				Posted By: Drew
				</p>

				<p>
				Opponent: 505 Parachute Infantry Regiment
				<br />
				Server: S2tG #2 unless they post otherwise
				<br />
				Map: CoD_UO_carentan
				<br />
				Match Date: Wednesday October 26th @ 9:00 PM EST
				<br />
				S2tG has allies first
Sign up on the calendar
  				</p>

				</div>

			</div>

			<!-- End of News Box 3 -->



			<!-- Start of News Box 4 -->

			<div class="newsbox">

				<div class="newsbox_header">

				<!-- News Title -->
				<h2>CoD2 Review @IGN</h2>

				<!-- News Date -->
				<strong>10/25/2005</strong>

				<div class="clearthis">&nbsp;</div>

				</div>


				<div class="newsbox_content">

				<!-- News Text -->

				<p>
				Posted By: Randall
				</p>

				<p>
				http://pc.ign.com/articles/661/661230p1.html

				<br />
				<br />

				8.5 out of 10 because of health management implemetation.
  				</p>

				</div>

			</div>

			<!-- End of News Box 4 -->



			<!-- Start of News Box 5 -->

			<div class="newsbox">

				<div class="newsbox_header">

				<!-- News Title -->
				<h2>Match Tonight</h2>

				<!-- News Date -->
				<strong>10/22/2005</strong>

				<div class="clearthis">&nbsp;</div>

				</div>


				<div class="newsbox_content">

				<!-- News Text -->

				<p>
				Posted By: Drew
				</p>

				<p>
				Opponent: |Terror Squad|
				<br />
				Server: S2tG #2
				<br />
				Map: arnhem
				<br />
				Match Date: Saturday October 22th @ 9:30 PM EST
				<br />
				S2tG has allies first
   				</p>

				</div>

			</div>

			<!-- End of News Box 5 -->



 

		</div>
		</div>

		<!-- End of Center Column -->


		<!-- Start of Right Sidebar -->

		<div id="rightsidebar">


			<!-- Start of Team Roster -->

			<div id="teamroster">

				<div id="teamroster_header">
				<h2><span>Team Roster</span></h2>
				</div>

				<div id="teamroster_content">

					<div id="teamroster_categories">
					<a href="http://www.freewebsitetemplates.com/">Staff</a>
					|
					<a href="http://www.freewebsitetemplates.com/">Captains</a>
					</div>

					<ul>
					<li id="roster_twitch"><a href="http://www.freewebsitetemplates.com/">twitch</a></li>
					<li id="roster_rock"><a href="http://www.freewebsitetemplates.com/">rock</a></li>
					<li id="roster_badkarma"><a href="http://www.freewebsitetemplates.com/">BadKarma</a></li>
					<li id="roster_mostly"><a href="http://www.freewebsitetemplates.com/">mostly</a></li>
					<li id="roster_thebowl"><a href="http://www.freewebsitetemplates.com/">TheBowl</a></li>
					<li id="roster_doggerz"><a href="http://www.freewebsitetemplates.com/">doggerz</a></li>
					<li id="roster_drew"><a href="http://www.freewebsitetemplates.com/">Drew</a></li>
					<li id="roster_nogusta"><a href="http://www.freewebsitetemplates.com/">Nogusta</a></li>
					</ul>


					<div class="clearthis">&nbsp;</div>

					<div class="more_button">
					<a href="http://www.freewebsitetemplates.com/"><span>More</span></a>
					</div>

				</div>

			</div>

			<!-- End of Team Roster -->


			<!-- Start of Team Sponsors -->

			<div id="teamsponsors">

				<h2><span>Team Sponsors</span></h2>

				<div id="teamsponsors_content">

					<a href="http://www.freewebsitetemplates.com/"><img src="images/teamsponsors_surrealmedia.jpg" width="186" height="63" alt="Surreal Media" /></a>


					<div class="more_button">
					<a href="http://www.freewebsitetemplates.com/"><span>More</span></a>
					</div>

				</div>

			</div>

			<!-- End of Team Sponsors -->


		</div>

		<!-- End of Right Sidebar -->


		<div class="clearthis">&nbsp;</div>


	</div>


	<!-- Start of Left Column -->

	<div id="leftcolumn">


		<!-- Start of Recent Record -->

		<div id="recentrecord">

			<h2><span>Recent Record</span></h2>

			<ul>
			<li>TWL : 105 - 43 - 6</li>
			<li>OGL : 101 - 35 - 16</li>
			<li>TWL : 105 - 43 - 6</li>
			</ul>

			<div class="clearthis">&nbsp;</div>

		</div>

		<!-- End of Recent Record -->


		<!-- Start of Left Sidebar -->

		<div id="leftsidebar">

			<!-- Start of Latest Matches -->

			<div id="latestmatch">

				<h2><span>Latest Match</span></h2>

				<ul>
				<li>s2tg&#62;{H*H}</li>
				<li>s2tg&#62;Dark|</li>
				<li>s2tg&#62;[#tS]</li>
				<li>s2tg&#62;WFC</li>
				<li>s2tg&#62;sinister</li>
				<li>s2tg&#62;|CoL|</li>
				<li>s2tg&#60;=3rd=</li>
				<li>s2tg&#60;|AAA|</li>
				<li>s2tg&#62;=[R.E.C]=</li>
				<li>s2tg&#60;|CBW|</li>
				<li>s2tg&#62;witw </li>
				</ul>

				<div class="more_button">
				<a href="http://www.freewebsitetemplates.com/"><span>More</span></a>
				</div>

				<div class="clearthis">&nbsp;</div>

			</div>

			<!-- End of Latest Matches -->


			<!-- Start of Gaming Services -->

			<div id="gamingservices">

				<h2><span>Gaming Services</span></h2>

					<ul>
				<li>CoD:UO 205.234.150.42:28960</li>
				<li>CoD:UO 205.234.150.42:28961</li>
				<li>Teamspeak 66.225.194.130:7900</li>
				</ul>

				<div class="more_button">
				<a href="http://www.freewebsitetemplates.com/"><span>More</span></a>
				</div>

				<div class="clearthis">&nbsp;</div>

			</div>

			<!-- End of Gaming Services -->


			<!-- Start of Quick Links -->

			<div id="quicklinks">

				<h2><span>Quick Links</span></h2>

				<ul>
				<li><a href="http://www.freewebsitetemplates.com/">TeamWarfare League</a></li>
				<li><a href="http://www.freewebsitetemplates.com/">OGL Online Gaming League</a></li>
				<li><a href="http://www.freewebsitetemplates.com/">F.E.A.R Portal</a></li>
				<li><a href="http://www.freewebsitetemplates.com/">GotFrag</a></li>
				</ul>


				<div class="more_button">
				<a href="http://www.freewebsitetemplates.com/"><span>More</span></a>
				</div>

				<div class="clearthis">&nbsp;</div>

			</div>

			<!-- End of Quick Links -->


		</div>

		<!-- End of Left Sidebar -->


	</div>

	<!-- End of Left Column -->


	<div class="clearthis">&nbsp;</div>


	<!-- Start of Page Footer -->

	<div id="page_footer">
	<small>Web design by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a></small>
	</div>

</div>

</body>
</html>